APP_ENV=development

# --- GENERAL ---
STORAGE_BUCKET=
STORAGE_SIGNED_URL_EXPIRY=
JWT_SECRET=

# --- POSTGRES ---
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_SSLMODE=

# --- SUPABASE ---
SUPABASE_DB_NAME=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=
SUPABASE_DB_SSLMODE=

SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_ROLE_KEY=

# --- KOMERCE / rajaongkir --- #
RAJAONGKIR_DESTINATION_URL=
RAJAONGKIR_CALCULATE_URL=
RAJAONGKIR_SHIPPING=
RAJAONGKIR_PAYMENT=
RAJAONGKIR_QRISLY=