# --- BOOTSTRAP --- #
MY_APP_SAYA_HOST=127.0.0.1
MY_APP_SAYA_PORT=7129
APP_ENV=development
APP_CORS_ALLOWED_ORIGINS=http://127.0.0.1:4000,http://127.0.0.1:3000

# --- GENERAL --- #
STORAGE_BUCKET=test
STORAGE_SIGNED_URL_EXPIRY=1500
JWT_SECRET=.floreidb!89dbq3v7bd890bvi@chia:iaqb!@o3vv&19fv1hbejk13e89p1i&st

# --- POSTGRES --- #
POSTGRES_DB_NAME=chia_florase
POSTGRES_DB_USER=chiaw
POSTGRES_DB_PASSWORD=chiaw_florist!810189
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_SSLMODE=disable

# --- SUPABASE --- #
# DB_HOST=db.mqolpawlannysqjokzoq.supabase.co
# DB_PORT=5432
# DB_USER=postgres
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.mqolpawlannysqjokzoq
SUPABASE_DB_PASSWORD=Chia.Florist@21
SUPABASE_DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
SUPABASE_DB_PORT=6543
SUPABASE_DB_SSLMODE=disable

SUPABASE_PROJECT_URL=https://mqolpawlannysqjokzoq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xb2xwYXdsYW5ueXNxam9rem9xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc0MDIyMywiZXhwIjoyMDkxMzE2MjIzfQ.hsWex8qjW-eDtgXQqno4FoQerr6cMoGwhoEd9YcK-l0

# --- KOMERCE / rajaongkir --- #
RAJAONGKIR_DESTINATION_URL=https://rajaongkir.komerce.id/api/v1/destination
RAJAONGKIR_CALCULATE_URL=https://rajaongkir.komerce.id/api/v1/calculate/district/domestic-cost
RAJAONGKIR_SHIPPING=YxLm75xl5b6e0f6cf785efeck4Kcfts2
RAJAONGKIR_PAYMENT=bq5GsFdt5b6e0f6cf785efec7vDt2tA5
RAJAONGKIR_QRISLY=bq5GsFdt5b6e0f6cf785efec7vDt2tA5

# --- SMTP --- #
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=aethergearstudios@gmail.com
SMTP_PASSWORD=mvuspcsxwmnyozda
SMTP_FROM=Chia Florist <aethergearstudios@gmail.com>

# --- GOOGLE OAUTH --- #
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-oauth-client-secret
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:8000/auth/google/callback
GOOGLE_OAUTH_SUCCESS_REDIRECT_URL=http://localhost:3000/oauth-success
